body {
  background: #000099;
  color: #0099FF;
  margin: 0; 
  padding: 0;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
}

div#logo {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 148px;
  bottom: 1%;
  margin: 0 auto;
  border: none;
  z-index: 0;
  background: #000099 url("../images/style-7/logo.gif") no-repeat center;
  background-size: 80%;
}

div#content {
  position: absolute;
  right: 8%;
  left: 8%;
  top: 3em;
  text-align: center;
  margin: auto 0;
  border-style: dashed;
  border-width: thin;
  padding: 4px;
}

.link {
  color: #0099FF;
  text-decoration: underline;
  cursor: pointer;
}

.site-name {
  font-weight: bold;
  font-style: italic;
  font-size: larger;
}

table.visual-list {
	empty-cells: hide;
	padding: 4px;
	margin: 0 auto;
}

table.visual-list tr.visual-list-item-row td.visual-list-item {
  vertical-align: middle;
  margin: 0 auto;
  padding-bottom: 1em;
}

table.visual-list tr.visual-list-item-row td.visual-list-item br {
  line-height: 1px;
}

table.visual-list tr.visual-list-button-row > td {
  padding-top: 2em;
}

table.visual-list tr.visual-list-button-row input[type="submit"] {
  background: transparent url("../images/style-7/button.gif") no-repeat;
  color: #0099FF;
  font-size: 11pt;
  font-weight: bold;
  width: 100px;
  height: 25px;
  border: none;
}  

table.visual-list tr.visual-list-button-row input[type="submit"]:hover {
  color: #33CCFF;
}

table.visual-list tr.visual-list-button-row input[type="submit"]:active {
  background: transparent url("../images/style-7/button_active.gif") no-repeat;
}
