body {
  background: #000099;
  color: #0099FF;
  transition: color 2s;
}
div#content {
  margin: 4% 8%;
  padding: 2%;
  width: 84%;
  position: absolute;
  border: 1px dashed;
  border-radius: 1rem;
  text-align: center;
  transition: all 2s;
}
div#content input[type="submit"] {
  background: transparent url("../images/style-7/button.gif") no-repeat;
  color: #0099FF;
  font-size: 11pt;
  font-weight: bold;
  width: 100px;
  height: 25px;
  border: none;
}
div#content input[type="submit"]:hover {
  color: #33CCFF;
}
div#content input[type="submit"]:active {
  background: transparent url("../images/style-7/button_active.gif") no-repeat;
}
div#logo {
  position: fixed;
  width: 84%;
  height: 15%;
  bottom: .5rem;
  margin: 0 8%;
  border: none;
  z-index: 0;
  background: #000099 url("../images/style-7/logo.gif") no-repeat center;
  background-size: contain;
  transition: all 3s;
}
div#logo span.logo-text {
  display: none;
}
.link {
  color: #0099FF;
  text-decoration: underline;
  cursor: pointer;
}
.site-name {
  font-weight: bold;
  font-style: italic;
  font-size: larger;
}
