body {
  background: #CCC;
  color: #555;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  transition: all 2s;
}
div#logo {
  float: left;
  display: inline-block;
  text-align: left;
  margin: 12% 0 0 5%;
  padding: .75rem 0;
  transition: all 3s;
}
@media (max-width: 624px) {
  div#logo {
    margin-top: 1%;
    display: block;
  }
}
@media (max-width: 1512px) {
  body.style-selector div#logo {
    margin: 1% 0 0 4rem;
    display: block;
  }
}
div#logo span.logo-text {
  color: #c3f;
  letter-spacing: .15rem;
  text-transform: lowercase;
  text-decoration: underline;
  text-shadow: -1px -1px 0 #cc33ff, 1px 1px 0 rgba(204, 204, 204, 0.8), -2px -2px 6px rgba(204, 51, 255, 0.4), -3px -3px 12px rgba(0, 0, 0, 0.3);
  font-family: 'Dosis', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-kerning: auto;
  text-align: center;
}
div#logo span.logo-text .period {
  color: transparent;
}
div#content {
  max-width: 60%;
  margin: 5% 5% 0 0;
  display: inline-block;
  float: right;
  text-align: right;
  text-transform: lowercase;
  transition: all 2s;
}
@media (max-width: 624px) {
  div#content {
    margin: 1% 3%;
    display: block;
    max-width: 100%;
  }
}
body.style-selector div#content {
  max-width: 100%;
  margin: 1% 3%;
  display: block;
}
div#content .choice {
  padding-bottom: 3rem;
}
div#content .choice input[type="radio"]:hover + label {
  color: #c3c;
}
div#content .choice input[type="radio"]:checked + label {
  color: #c3c;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
}
div#content .choice img.img-responsive {
  display: initial;
}
div#content .choice label {
  padding: 4px;
}
.link {
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}
.site-name {
  font-weight: bold;
  text-transform: uppercase;
}
.site-name:before {
  content: no-open-quote;
}
.site-name:after {
  content: no-close-quote;
}
input[type="submit"] {
  background: #333;
  width: 6em;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #93C;
  border-radius: 2px;
  text-transform: lowercase;
}
input[type="submit"]:hover {
  background: #93C;
  border: solid 2px #333;
}
input[type="submit"]:active {
  color: #CCC;
}
input[type="submit"]:focus {
  outline: 0;
}
span.next-theme {
  -webkit-animation-name: rainbow;
  -webkit-animation-duration: 2500ms;
  -webkit-animation-iteration-count: 5;
  -webkit-animation-delay: 6s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: normal;
  -moz-animation-name: rainbow;
  -moz-animation-duration: 2500ms;
  -moz-animation-iteration-count: 5;
  -moz-animation-delay: 6s;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: normal;
  animation-name: rainbow;
  animation-duration: 2500ms;
  animation-iteration-count: 5;
  animation-delay: 6s;
  animation-timing-function: linear;
  animation-direction: normal;
}
@-ms-keyframes rainbow {
  0% {
    color: #555;
  }
  25% {
    color: #f00;
  }
  50% {
    color: #93c;
  }
  75% {
    color: #00f;
  }
  100% {
    color: #333;
  }
}
@-moz-keyframes rainbow {
  0% {
    color: #555;
  }
  25% {
    color: #f00;
  }
  50% {
    color: #93c;
  }
  75% {
    color: #00f;
  }
  100% {
    color: #333;
  }
}
@-webkit-keyframes rainbow {
  0% {
    color: #555;
  }
  25% {
    color: #f00;
  }
  50% {
    color: #93c;
  }
  75% {
    color: #00f;
  }
  100% {
    color: #333;
  }
}
@keyframes rainbow {
  0% {
    color: #555;
  }
  25% {
    color: #f00;
  }
  50% {
    color: #93c;
  }
  75% {
    color: #00f;
  }
  100% {
    color: #333;
  }
}
