body {
  background: #996600; 
  color: #CCCC33;
  margin: 0; 
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 11pt;
}

div#logo {
  position: absolute;
  top: 4px;
  right: 10px;
  background: #996600 url("/images/style-4/logo.gif") no-repeat;
  width: 292px;
  height: 61px;
  border: none;
  float: none;
}

div#content {
  position: absolute;
  top: 70px;
	left: 50px;
	bottom: 50px;
	right: 50px;
	background: #333333;
  text-align: left;
	padding: 1em;
	padding-top: 4px;
	border-color: #CCCC33;
	border-style: ridge;
	border-width: thin;
	overflow: auto;
}

.link {
  color: #CCCC33;
  text-decoration: underline;
  cursor: pointer;
}

.site-name {
	font-weight: bold;
	font-style: italic;
	font-size: larger;
}

table.visual-list {
	empty-cells: hide;
	width: 100%;
}

table.visual-list tr.visual-list-header-row {

}

table.visual-list tr.visual-list-header-row > th {
  padding-top: 12px;
  padding-bottom: 1em;
  font-weight: normal;
  text-align: left;
}

table.visual-list tr.visual-list-item-row > td.visual-list-item {
	vertical-align: middle;
	margin: 0 auto;
	padding-bottom: 4px;
}

table.visual-list tr.visual-list-item-row td.visual-list-item br {
  line-height: 1px;
}

table.visual-list tr.visual-list-button-row > td {
  padding-top: 1em;
}

table.visual-list tr.visual-list-button-row input[type="submit"] {
  background: #996600; 
  color: #333333;
  width: 84px;
  height: 22px;
  border-color: #CCCC33;
	border-style: ridge;
	border-width: thin;
  font-size: 11pt;
  font-weight: bold;
  text-transform: lowercase;
}  

table.visual-list tr.visual-list-button-row input[type="submit"]:hover {
  color: #CCCC33;
}

table.visual-list tr.visual-list-button-row input[type="submit"]:active {
  background: #333333;
  color: #996600;
}
