body {
  background: #FFCC00;
  color: black;
  margin: 0;
  padding: 0;
  font-family: Georgia, sans-serif;
  font-size: 12pt;
  text-align: center;
  transition: all 2s;
  transition: background 0s;
}

div#logo {
  width: 248px;
  height: 51px;
  margin: 0 auto;
  text-align: center;
  background: url("../images/style-6/logo.gif") no-repeat;
  transition: all 3s;

  span.logo-text {
    display: none;
  }
}

div#content {
  position: static;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;

  border-top: medium solid red;
  transition: all 2s;

  input[type="submit"] {
    background: #FFCC00;
    color: black;
    font-size: 11pt;
    font-weight: normal;
    width: 102px;
    height: 24px;
    border: thin solid red;

    &:hover {
      color: red;
      border-color: black;
    }

    &:active {
      background: black;
      color: #FFCC00;
      border-color: black;
    }
  }
}

.link {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.site-name {
  font-weight: bold;
  font-size: larger;
  color: #FF0000;
}