body {
  background: #336600;
  color: #fd0;
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  transition: all 2s;
}
.wrapper {
  position: relative;
}
div#logo {
  position: absolute;
  bottom: -8rem;
  right: 1%;
  transition: all 3s;
}
@media (max-width: 624px) {
  div#logo {
    bottom: -7rem;
  }
}
@media (max-width: 400px) {
  div#logo {
    bottom: -5rem;
  }
}
div#logo span.logo-text {
  text-transform: lowercase;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3), -1px -1px 0 rgba(0, 0, 0, 0.8);
  color: #264D00;
  font-family: 'Audiowide', cursive;
  font-size: 6rem;
  font-style: normal;
  font-kerning: auto;
  font-weight: bold;
  text-align: center;
  letter-spacing: .4rem;
}
@media (max-width: 624px) {
  div#logo span.logo-text {
    font-size: 5rem;
  }
}
@media (max-width: 400px) {
  div#logo span.logo-text {
    font-size: 4rem;
  }
}
div#content {
  min-height: calc(88vh + 0);
  margin: 1%;
  padding: .5% 1%;
  background: #264D00;
  border: thin inset #152900;
  border-right-color: #607848;
  border-bottom-color: #607848;
  border-radius: 1rem;
  text-align: left;
  transition: all 2s;
}
@media (max-width: 624px) {
  div#content {
    margin: 2%;
    padding: 1% 2%;
    border-radius: .5rem;
  }
}
div#content .choice {
  padding-bottom: 2%;
}
div#content .choice img {
  cursor: pointer;
}
div#content .choice input[type="radio"]:hover + label {
  color: #9f0;
}
div#content .choice input[type="radio"]:checked + label {
  color: #9f0;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
}
div#content .choice img.img-responsive {
  display: initial;
}
div#content .choice label {
  padding: 4px;
}
div#content .row:last-child {
  margin-top: 1rem;
  padding-top: 1%;
  border-top: 1px solid black;
}
.link {
  color: #fd0;
  cursor: pointer;
  border-bottom: 1px solid;
}
.site-name {
  color: #fd3;
  font-weight: bold;
  font-size: larger;
}
input[type="submit"] {
  color: #ff0;
  font-weight: bold;
  font-size: 11pt;
  width: 100%;
  padding: 2px;
  background: #264D00;
  border-radius: .5rem;
  border: none;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8), -1px -1px 0 rgba(255, 255, 255, 0.3);
}
input[type="submit"]:hover {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8), -2px -2px 0 rgba(255, 255, 255, 0.3);
}
input[type="submit"]:active {
  text-shadow: 1px 1px 1rem #9f0;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3), -1px -1px 0 rgba(0, 0, 0, 0.8);
}
input[type="submit"]:focus {
  outline: 0;
}
span.next-theme {
  -webkit-animation-name: underline;
  -webkit-animation-duration: 2500ms;
  -webkit-animation-iteration-count: 4;
  -webkit-animation-delay: 4s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-direction: normal;
  -moz-animation-name: underline;
  -moz-animation-duration: 2500ms;
  -moz-animation-iteration-count: 4;
  -moz-animation-delay: 4s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-direction: normal;
  animation-name: underline;
  animation-duration: 2500ms;
  animation-iteration-count: 4;
  animation-delay: 4s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}
@-ms-keyframes underline {
  from {
    border-bottom: none;
  }
  to {
    border-bottom: 1px solid;
  }
}
@-moz-keyframes underline {
  from {
    border-bottom: none;
  }
  to {
    border-bottom: 1px solid;
  }
}
@-webkit-keyframes underline {
  from {
    border-bottom: none;
  }
  to {
    border-bottom: 1px solid;
  }
}
@keyframes underline {
  from {
    border-bottom: none;
  }
  to {
    border-bottom: 1px solid;
  }
}
