body {
  background: black;
  color: #eee;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  text-align: center;
  transition: all 2s;
}
div#logo {
  margin: 1em auto;
  top: 1em;
  width: 1rem;
  height: 6rem;
  border: none;
}
div#logo span.logo-text {
  text-transform: lowercase;
  text-shadow: -1px -1px 1px #ffffff, 1px 1px 1px #000000;
  color: rgba(0, 0, 0, 0.7);
  word-wrap: break-word;
  width: 2.5rem;
  font-family: 'Signika', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-kerning: auto;
  font-weight: bold;
  text-align: center;
}
div#content {
  position: relative;
  top: 285px;
  width: 100%;
  text-align: center;
  transition: all 2s;
}
div#content .choice {
  padding-bottom: 3rem;
}
div#content .choice img {
  cursor: pointer;
}
div#content .choice input[type="radio"] + label {
  color: #ccc;
}
div#content .choice input[type="radio"]:hover + label {
  color: #999;
}
div#content .choice input[type="radio"]:checked + label {
  color: #ccc;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.7), 0 5px 5px rgba(255, 255, 255, 0.5);
}
div#content .choice img.img-responsive {
  display: initial;
}
div#content .choice label {
  padding: 4px;
}
div#content .row:last-child {
  padding: 1em 0 4em 0;
  border-top: black groove thin;
}
div#content input[type="submit"] {
  background: #000;
  border-radius: 8px;
  padding: .5rem 2rem;
  display: block;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 0 #444;
  border: 1px solid #191919;
  margin: 0 auto;
  box-shadow: 1px 2px 1px #666666 inset, 1px -2px 8px #333333, 0 2px 5px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.2);
}
div#content input[type="submit"]:hover {
  color: #777;
  background: #111;
}
div#content input[type="submit"]:active {
  color: #fff;
  box-shadow: 1px 2px 1px #666666 inset, 1px -2px 8px #333333, 1px 4px 10px rgba(255, 255, 255, 0.3);
}
div#content input[type="submit"]:focus {
  outline: 0;
}
.link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
